@using static MudBlazor.CategoryTypes
<MudDialog Class="@DialogClass">
    <TitleContent>
        <div class="d-flex align-items-center dialogHeaderText">
            <MudIcon Icon="@DialogIcon" Color="Color.Info" Size="Size.Large" Class="me-2" />
            <span>@Title</span>
        </div>
    </TitleContent>
    <DialogContent>
        <br />
            <div class="dialogContextText">@Message</div>
        <br />
    </DialogContent>
    <DialogActions>        
        @if (ShowCancel)
        {
            <MudButton Color="Color.Error" OnClick="() => MudDialog.Cancel()">@CancelText</MudButton>
        }
        <MudButton Color="Color.Primary" OnClick="Close">@OkText</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter]
    private IMudDialogInstance MudDialog { get; set; }

    [Parameter]
    public string DialogIcon { get; set; } = Icons.Material.Filled.Info;

    [Parameter]
    public String DialogClass { get; set; } = String.Empty;

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public bool ShowCancel { get; set; } = false;

    [Parameter]
    public string OkText { get; set; } = "OK";

    [Parameter]
    public string CancelText { get; set; } = "Cancel";

    protected override void OnInitialized()
    {
        MudDialog.SetOptionsAsync(new DialogOptions() { BackdropClick = false });
    }

    private void Close() => MudDialog.Close(DialogResult.Ok(true));

    }

}