@using AircraftStateCore.Models;
@using AircraftStateCore.Helpers;
@using AircraftStateCore.Services.Interfaces;
@using AircraftStateCore.Components.Shared.DataPanels;

@inject ISimConnectService simconnect
@inject IPlaneData planeData;
@inject ISettingsData settings;
@inject IDialogService DialogService

@page "/apply"

<h2>Send Data to Sim</h2>
<br />

<div>
	<div class="row">
		<div class="col-10">
			<MudStack Style="width:450px">
				<MudSelect T="string" FitContent=true Label="Select Profile" AnchorOrigin="Origin.BottomRight" @bind-Value="selectedProfile" TextChanged="OnAfterProfileChange">
					@foreach (var plane in planeArray)
					{
						<MudSelectItem T="string" Value="@plane">@plane</MudSelectItem>
					}
				</MudSelect>
			</MudStack>
		</div>
		<div class="col-2">		
			<MudButton Disabled=@disabledDelete OnClick="() => OpenDelete()" Variant="Variant.Filled" Color="MudBlazor.Color.Dark">Delete Profile</MudButton>			
		</div>
	</div>

	<CustomDivider />

	@if (!string.IsNullOrEmpty(@selectedProfile))
	{
		<div class="row g-10 form-inline">
			<div class="col-md-3">
				<MudButton Disabled=@disabledSend @onclick="() => SendToSim()" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Send to Sim</MudButton>
			</div>

			@if (selectedData.Exists(s => s.txt.Equals(FieldText.FuelQtyAll)) ||
															selectedData.Exists(s => s.txt.Equals(FieldText.FuelSelector)))
			{
				<div class="col-md-3 col-sm-6">
					<MudTooltip Text="Do net send Fuel Data, even if selected below.">
						<MudCheckBox @bind-Value="BlockFuel" Label="Block Fuel Data" Color="MudBlazor.Color.Primary" />
					</MudTooltip>
				</div>
			}

			@if (selectedData.Exists(s => s.txt.StartsWith("Location")))
			{
				<div class="col-md-3 col-sm-6">
					<MudTooltip Text="Do net send Location Data, even if selected below.">
						<MudCheckBox @bind-Value="BlockLocation" Label="Block Location Data" Color="MudBlazor.Color.Primary" />
					</MudTooltip>
				</div>
			}
		</div>

		<br /><br />

		<MudGrid Spacing="1">
			<MudItem sm="12" md="6" lg="4">
				<MudGrid Spacing="1">
					<MudItem xs="12">
						<RadiosPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" />
					</MudItem>
					<MudItem xs="12">
						<OBSPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
					<MudItem xs="12">
						<PowerPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" />
					</MudItem>
					<MudItem xs="12">
						<OtherPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
				</MudGrid>
			</MudItem>

			<MudItem sm="12" md="6" lg="4">
				<MudGrid Spacing="1">
					<MudItem xs="12">
						<LocationPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
					<MudItem xs="12">
						<ConfigurationPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
					<MudItem xs="12">
						<LightsPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
				</MudGrid>
			</MudItem>

			<MudItem sm="12" md="6" lg="4">
				<MudGrid Spacing="1">
					<MudItem xs="12">
						<FuelPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
					</MudItem>
					<MudItem xs="12">
						<PayloadPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" />
					</MudItem>
				</MudGrid>
			</MudItem>
		</MudGrid>
	}
</div>

@code {
	private List<string> planeArray = new List<string>();
	private List<AvailableDataItem> selectedData;
	private string selectedProfile = string.Empty;	
	//private Modal SmallModal { get; set; }
	private bool BlockFuel { get; set; } = true;
	private bool BlockLocation { get; set; } = true;
	private bool disabledDelete => (string.IsNullOrEmpty(selectedProfile) || selectedProfile.Equals(planeArray.FirstOrDefault() ?? String.Empty) ? true : false);
	private bool disabledSend => (disabledDelete || !simconnect.Connected() ? true : false);
	private Settings SettingsData { get; set; }

	protected async override void OnInitialized()
	{      
		simconnect.GetSimEnvInfo();
		var planeTitle = simconnect.MasterData.title;
		SettingsData = await settings.ReadSettings();

		selectedData = settings.GetSelectedData();
		BlockFuel = SettingsData .BlockFuel;
		BlockLocation = SettingsData.BlockLocation;

		planeData.OnChangeAsync += Refresh;
		planeArray.Add("No default profile for current plane");
		foreach (var p in planeData.Profiles)
		{
			if (p.Equals(planeTitle))
			{
				selectedProfile = planeTitle;				
			}

			planeArray.Add(p);

			if (!string.IsNullOrEmpty(selectedProfile))
			{
				await planeData.LookUpProfile(selectedProfile);
				if (!planeData.CurrentData.validData)
				{
					simconnect.NoProfile();
				}
			}
		}		
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var currentVersion = Formatter.GetBuildNumber();
		if (firstRender && (SettingsData.SelectedData == null || SettingsData.SelectedData.Count.Equals(0)))
		{
			var param = new DialogParameters<DialogOk>()
			{
				{ x => x.Message, $"Nothing will be sent to the sim, you need to select data to send to the sim on the settings page." },
				{ x => x.DialogIcon, "fa-solid fa-triangle-exclamation fa-xl" },
				{ x => x.DialogClass, "warn-background" }
			};

			await DialogService.ShowAsync<DialogOk>("New Version", param);
		}

	}

	protected async Task OnAfterProfileChange(string item)
	{
		selectedProfile = item;
		await planeData.LookUpProfile(item);		
		return;
	}

	private async Task OpenDelete()
	{         
		var param = new DialogParameters<DialogDelete>{
			{ x => x.Message1, "Are you sure you want to delete the " },
			{ x => x.Message2, selectedProfile },
			{ x => x.Message3, " profile?" },			
		};
		
		var dialog = await DialogService.ShowAsync<DialogDelete>("Save Data", param);
		var choice = await dialog.Result;

		if (choice.Canceled)
		{
			return;
		}
		await DeleteProfile();
		return;
	}

	private async Task DeleteProfile()
	{
		await planeData.DeleteProfile(selectedProfile);

		planeArray.Remove(selectedProfile);
		await OnAfterProfileChange(planeArray.First());
		
		return;
	}

	private async Task SendToSim()
	{
		simconnect.SendDataToSim(planeData.CurrentData, BlockFuel, BlockLocation);

		var param = new DialogParameters<DialogOk> {
			{ x => x.Title, "Send Data" },
            { x => x.Message, "Data sent to Simulator" }
        };

        await DialogService.ShowAsync<DialogOk>(String.Empty, param);
	}

	private async Task Refresh()
	{
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		planeData.OnChangeAsync -= Refresh;
	}
}