@using AircraftStateCore.Models;
@using AircraftStateCore.Helpers;
@using AircraftStateCore.Services.Interfaces;
@using BootstrapBlazor.Components
@using AircraftStateCore.Components.Shared.DataPanels;

@inject ISimConnectService simconnect
@inject IPlaneData planeData;
@inject ISettingsData settings;
@inject MessageService MessageService
@inject IDialogService DialogService

@page "/apply"

<h2>Send Data to Sim</h2>
<br />

<Message @ref="ApplyMessage" Placement="BootstrapBlazor.Components.Placement.Top" />


<div>
	<div class="row">
		<div class="col-10">
			<MudStack Style="width:450px">
				<MudSelect T="string" FitContent=true Label="Select Profile" AnchorOrigin="Origin.BottomRight" @bind-Value="selectedProfile" TextChanged="OnAfterProfileChange">
					@foreach (var plane in planeArray)
					{
						<MudSelectItem T="string" Value="@plane">@plane</MudSelectItem>
					}
				</MudSelect>
			</MudStack>
		</div>
		<div class="col-2">		
			<MudButton Disabled=@disabledDelete OnClick="() => OpenDelete()" Variant="Variant.Filled" Color="MudBlazor.Color.Dark">Delete Profile</MudButton>			
		</div>
	</div>

	<Divider />

	@if (!string.IsNullOrEmpty(@selectedProfile))
	{
		<div class="row g-10 form-inline">
			<div class="col-md-3">
				<MudButton Disabled=@disabledSend @onclick="() => SendToSim()" Variant="Variant.Filled" Color="MudBlazor.Color.Primary">Send to Sim</MudButton>
			</div>

			@if (selectedData.Exists(s => s.txt.Equals(FieldText.FuelQtyAll)) ||
										selectedData.Exists(s => s.txt.Equals(FieldText.FuelSelector)))
			{
				<div class="col-md-3 col-sm-6">
					<MudTooltip Text="Do net send Fuel Data, even if selected below.">
						<MudCheckBox @bind-Value="BlockFuel" Label="Block Fuel Data" Color="MudBlazor.Color.Primary" />
					</MudTooltip>
				</div>
			}

			@if (selectedData.Exists(s => s.txt.StartsWith("Location")))
			{
				<div class="col-md-3 col-sm-6">
					<MudTooltip Text="Do net send Location Data, even if selected below.">
						<MudCheckBox @bind-Value="BlockLocation" Label="Block Location Data" Color="MudBlazor.Color.Primary" />
					</MudTooltip>
				</div>
			}
		</div>
	
	<br /><br />


<MudGrid>
	<LocationPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<FuelPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<OBSPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<ConfigurationPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<PowerPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<OtherPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<LightsPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
	<PayloadPanel BackGroundClass="mud-expansion-panel-khaki-header" Data="@planeData.CurrentData" SelectedData="@selectedData" />
</MudGrid>

<br />
<br />
<br />


		<div class="row g-2">
			@*second Column*@
			<div class="col-md-6 col-lg-4 col-sm-12">
				@*Lights*@
				<div class="row g-2 bottom-buffer">
					<div class="col-12">
						<Collapse>
							<CollapseItems>
								<CollapseItem Text="Lights" Class="btn-sm" TitleColor="@TitleColor" IsCollapsed="false">
									<div class="row g-1">
										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsBeacon)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsBeacon" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightBeacon" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsCabin)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsCabin" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightCabin" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsLanding)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsLanding" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightLanding" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsLogo)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsLogo" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightLogo" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsNav)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsNav" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightNav" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsPanel)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPanel" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightPanel" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsRecognition)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsRecognition" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightRecognition" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsStrobe)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsStrobe" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightStrobe" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsTaxi)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsTaxi" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightTaxi" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsWing)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsWing" />
													<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@planeData.CurrentData.lightWing" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsGlareshieldPower)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsGlareshieldPower" />
													<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@planeData.CurrentData.lightGlareShieldPct" />
													<BootstrapInputGroupLabel class="input-group-addon-3" DisplayText="pct" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsPanelPower)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPanelPower" />
													<BootstrapInput TValue="double" Formatter="Formatter.GetPercent100" value="@planeData.CurrentData.lightPanelPct" />
													<BootstrapInputGroupLabel class="input-group-addon-3" DisplayText="pct" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsCabinPower)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsCabinPower" />
													<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@planeData.CurrentData.lightCabinPct" />
													<BootstrapInputGroupLabel class="input-group-addon-3" DisplayText="pct" />
												</BootstrapInputGroup>
											</div>
										}

										@if (selectedData.Exists(s => s.txt.Equals(FieldText.LightsPedestalPower)))
										{
											<div class="col-12">
												<BootstrapInputGroup>
													<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPedestalPower" />
													<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@planeData.CurrentData.lightPedestralPct" />
													<BootstrapInputGroupLabel class="input-group-addon-3" DisplayText="pct" />
												</BootstrapInputGroup>
											</div>
										}

									</div>
								</CollapseItem>
							</CollapseItems>
						</Collapse>
					</div>
				</div>
			</div>
		</div>

	}
</div>

@code {
	private List<string> planeArray = new List<string>();
	private List<AvailableDataItem> selectedData;
	private string selectedProfile = string.Empty;	
	//private Modal SmallModal { get; set; }
	private bool BlockFuel { get; set; } = true;
	private bool BlockLocation { get; set; } = true;
	private bool disabledDelete => (string.IsNullOrEmpty(selectedProfile) || selectedProfile.Equals(planeArray.FirstOrDefault() ?? String.Empty) ? true : false);
	private bool disabledSend => (disabledDelete || !simconnect.Connected() ? true : false);
	private Message ApplyMessage { get; set; }
	private Settings SettingsData { get; set; }
	private BootstrapBlazor.Components.Color TitleColor = BootstrapBlazor.Components.Color.Warning;
	private string Active = "Active";
	private string Standby = "Standby";
	private string Left = "Left";
	private string Right = "Right";

	protected async override void OnInitialized()
	{      
		simconnect.GetSimEnvInfo();
		var planeTitle = simconnect.MasterData.title;
		SettingsData = await settings.ReadSettings();

		selectedData = settings.GetSelectedData();
		BlockFuel = SettingsData .BlockFuel;
		BlockLocation = SettingsData.BlockLocation;

		planeData.OnChangeAsync += Refresh;
		planeArray.Add("No default profile for current plane");
		foreach (var p in planeData.Profiles)
		{
			if (p.Equals(planeTitle))
			{
				selectedProfile = planeTitle;				
			}

			planeArray.Add(p);

			if (!string.IsNullOrEmpty(selectedProfile))
			{
				await planeData.LookUpProfile(selectedProfile);
				if (!planeData.CurrentData.validData)
				{
					simconnect.NoProfile();
				}
			}
		}		
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var currentVersion = Formatter.GetBuildNumber();
		if (firstRender && (SettingsData.SelectedData == null || SettingsData.SelectedData.Count.Equals(0)))
		{
			await MessageService.Show(new MessageOption()
			{
				Content = $"Nothing will be sent to the sim, you need to select data to send to the sim on the settings page.",
				Icon = "fa-solid fa-triangle-exclamation fa-xl",
				Color = BootstrapBlazor.Components.Color.Warning,
				ShowDismiss = true,
				ShowBar = true,
				IsAutoHide = false
			});
		}

	}

	protected async Task OnAfterProfileChange(string item)
	{
		selectedProfile = item;
		await planeData.LookUpProfile(item);		
		return;
	}

	private async Task OpenDelete()
	{         
		var param = new DialogParameters<DialogDelete>{
			{ x => x.Message1, "Are you sure you want to delete the " },
			{ x => x.Message2, selectedProfile },
			{ x => x.Message3, " profile?" },			
		};
		

		var dialog = await DialogService.ShowAsync<DialogDelete>("Save Data", param);
		var choice = await dialog.Result;

		if (choice.Canceled)
		{
			return;
		}
		await DeleteProfile();
		return;
	}

	private async Task DeleteProfile()
	{
		await planeData.DeleteProfile(selectedProfile);

		planeArray.Remove(selectedProfile);
		await OnAfterProfileChange(planeArray.First());
		
		return;
	}

	private async Task SendToSim()
	{
		simconnect.SendDataToSim(planeData.CurrentData, BlockFuel, BlockLocation);

		var param = new DialogParameters<DialogOk> {
			{ x => x.Title, "Send Data" },
            { x => x.Message, "Data sent to Simulator" }
        };

        await DialogService.ShowAsync<DialogOk>(String.Empty, param);
	}

	private async Task Refresh()
	{
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		planeData.OnChangeAsync -= Refresh;
	}
}