@using AircraftStateCore.Components.Shared.DataPanels
@using AircraftStateCore.DAL.Repositories.Interfaces;
@using AircraftStateCore.Helpers;
@using AircraftStateCore.Models;
@using AircraftStateCore.Services.Interfaces;
@using BootstrapBlazor.Components;

@inject MessageService MessageService
@inject ISimConnectService simconnect
@inject ISettingsRepo settingRepo

@page "/"

<h2>Sim Status</h2>

<Message @ref="@Message" Placement="BootstrapBlazor.Components.Placement.Bottom" />

<div>
	@* ShowSaveButton="true" SaveButtonText="Ok" SaveIcon="" *@
	<Modal @ref="NotificationModal">
		<ModalDialog ShowCloseButton="false" 
				ShowSaveButton="true" SaveButtonText="Ok" SaveButtonIcon=""
				OnSaveAsync="CloseDialog"
				IsCentered="true"						
				Title="Missing Settings">				
			<BodyTemplate>
				<br />
				<div>@Message</div>
				<br />
			</BodyTemplate>
		</ModalDialog>
	</Modal>
	
	<DbSave/>
	<h4>@simconnect.MasterData.title</h4>

	<MudGrid>
		<RadiosPanel BackGroundClass="mud-expansion-panel-lightblue-header"	Data="@simconnect.SimData" />
		<LocationPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<FuelPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<OBSPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<ConfigurationPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<PowerPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<OtherPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<LightsPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
		<PayloadPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
	</MudGrid>


	<div class="row g-2">

		@*second Column*@
		<div class="col-md-6 col-lg-4 col-sm-12">
			@*Lights*@
			<div class="row g-2 bottom-buffer">
				<div class="col-12">
					<Collapse>
						<CollapseItems>
							<CollapseItem Text="Lights" Class="btn-sm" TitleColor="@TitleColor" IsCollapsed="false">
								<div class="row g-1">
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsBeacon" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightBeacon" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsCabin" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightCabin" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsLanding" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightLanding" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsLogo" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightLogo" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsNav" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightNav" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPanel" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightPanel" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsRecognition" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightRecognition" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsStrobe" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightStrobe" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsTaxi" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightTaxi" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsWing" />
											<BootstrapInput TValue="bool" Formatter="Formatter.GetOnOff" value="@simconnect.SimData.lightWing" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsGlareshieldPower" />
											<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@simconnect.SimData.lightGlareShieldPct" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPanelPower" />
											<BootstrapInput TValue="double" Formatter="Formatter.GetPercent100" value="@simconnect.SimData.lightPanelPct" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsCabinPower" />
											<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@simconnect.SimData.lightCabinPct" />
										</BootstrapInputGroup>
									</div>
									<div class="col-12">
										<BootstrapInputGroup>
											<BootstrapInputGroupLabel class="input-group-addon-14" DisplayText="@FieldText.LightsPedestalPower" />
											<BootstrapInput TValue="double" Formatter="Formatter.GetPercent" value="@simconnect.SimData.lightPedestralPct" />
										</BootstrapInputGroup>
									</div>
								</div>
							</CollapseItem>
						</CollapseItems>
					</Collapse>
				</div>
			</div>
		</div>
	</div>
</div>

@code {
	private Modal NotificationModal { get; set; }
	private Message Message { get; set; }
	private BootstrapBlazor.Components.Color TitleColor = BootstrapBlazor.Components.Color.Info;
	private string Active = "Active";
	private string Standby = "Standby"; 
    private string Left = "Left";
    private string Right = "Right";

	protected override void OnInitialized()
	{
		simconnect.OnChangeAsync += Refresh;
	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var currentVersion = Formatter.GetBuildNumber();
		if (firstRender && await settingRepo.UpdateVersion(currentVersion))
		{
			await MessageService.Show(new MessageOption()
			{
				Content = $"You are running a new version of the application ({currentVersion}) Check the settings page to see if there are new values you would like to track.  More information can be found in the release notes on the About page.",
				Icon = "fa-solid fa-circle-info",
				Color = BootstrapBlazor.Components.Color.Secondary,
				ShowDismiss = true,
				ShowBar = true,
				IsAutoHide = false
			});
		}
	}

	private async Task Refresh()
	{		
		await InvokeAsync(StateHasChanged);
	}

	private async Task<bool> CloseDialog()
	{
		await NotificationModal.Close();
		return true;
	}

	public async void Connect()
	{
		simconnect.ConnectToSim();
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		simconnect.OnChangeAsync -= Refresh;
	}
}