@using AircraftStateCore.Components.Shared.DataPanels
@using AircraftStateCore.DAL.Repositories.Interfaces;
@using AircraftStateCore.Helpers;
@using AircraftStateCore.Models;
@using AircraftStateCore.Services
@using AircraftStateCore.Services.Interfaces;

@inject ISimConnectService simconnect
@inject ISettingsRepo settingRepo
@inject IDialogService DialogService
@inject IPlaneData planeData;

@page "/"

<h2>Sim Status</h2>

<div>
	<DbSave/>
	<h4>@simconnect.MasterData.title</h4>

	<MudGrid Spacing="1">
		<MudItem sm="12" md="6" lg="4">
			<MudGrid Spacing="1">
				<MudItem xs="12">
					<RadiosPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<OBSPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<PowerPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<OtherPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
			</MudGrid>
		</MudItem>

		<MudItem sm="12" md="6" lg="4">
			<MudGrid Spacing="1">
				<MudItem xs="12">
					<LocationPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<ConfigurationPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<LightsPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
			</MudGrid>
		</MudItem>

		<MudItem sm="12" md="6" lg="4">
			<MudGrid Spacing="1">
				<MudItem xs="12">
					<FuelPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
				<MudItem xs="12">
					<PayloadPanel BackGroundClass="mud-expansion-panel-lightblue-header" Data="@simconnect.SimData" />
				</MudItem>
			</MudGrid>
		</MudItem>
	</MudGrid>
</div>

@code {
    protected override void OnInitialized()
    {
        simconnect.OnChangeAsync += Refresh;
        planeData.OnChangeAsync += Refresh;
    }

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		var currentVersion = Formatter.GetBuildNumber();
		if (firstRender && await settingRepo.UpdateVersion(currentVersion))
		{
			var param = new DialogParameters<DialogOk>()
			{
				{ x => x.Message, $"You are running a new version of the application ({currentVersion}) Check the settings page to see if there are new values you would like to track.More information can be found in the release notes on the About page." },
				{ x => x.DialogIcon, "fa-solid fa-circle-info" },
				{ x => x.DialogClass, "grey-background" }
			};

			await DialogService.ShowAsync<DialogOk>("New Version", param);
		}
	}

	private async Task Refresh()
	{		
		await InvokeAsync(StateHasChanged);
	}

	public async void Connect()
	{
		simconnect.ConnectToSim();
		await InvokeAsync(StateHasChanged);
	}

	public void Dispose()
	{
		simconnect.OnChangeAsync -= Refresh;
		planeData.OnChangeAsync -= Refresh;
	}
}