@using AircraftStateCore.Helpers
@using AircraftStateCore.Models
@using AircraftStateCore.Services.Interfaces

@inject ISettingsData settings;

<MudExpansionPanels Class="@BackGroundClass">
	<MudExpansionPanel Expanded="true" Text="2.2">
		<TitleContent>
			<MudText Typo="Typo.h6">OBS</MudText>
		</TitleContent>
		<ChildContent>
			<MudGrid Spacing="1">
				@if (!CheckDisplay || SelectedData.Exists(s => s.txt.Equals(FieldText.ObsObs1)))
				{
					<MudItem xs="12">
						<div style="display: grid; grid-template-columns: 3fr 3fr; gap: 0;">
							<MudButton Variant="Variant.Filled" Class="group-label">@FieldText.ObsObs1</MudButton>
							<MudButton Variant="Variant.Outlined" Class="group-data">@Data.obs1</MudButton>
						</div>
					</MudItem>
				}
					
				@if (!CheckDisplay || SelectedData.Exists(s => s.txt.Equals(FieldText.ObsObs2)))
				{
					<MudItem xs="12">
						<div style="display: grid; grid-template-columns: 3fr 3fr; gap: 0;">
							<MudButton Variant="Variant.Filled" Class="group-label">@FieldText.ObsObs2</MudButton>
							<MudButton Variant="Variant.Outlined" Class="group-data">@Data.obs2</MudButton>
						</div>
					</MudItem>
				}

				@if (!CheckDisplay || SelectedData.Exists(s => s.txt.Equals(FieldText.ObsAdfCard)))
				{
					<MudItem xs="12">
						<div style="display: grid; grid-template-columns: 3fr 3fr; gap: 0;">
							<MudButton Variant="Variant.Filled" Class="group-label">@FieldText.ObsAdfCard</MudButton>
							<MudButton Variant="Variant.Outlined" Class="group-data">@Data.adfCard</MudButton>
						</div>
					</MudItem>
				}	
					
			</MudGrid>
		</ChildContent>
	</MudExpansionPanel>
</MudExpansionPanels>

@code {
	[Parameter]
	public List<AvailableDataItem> SelectedData { get; set; } = new List<AvailableDataItem>();

	[Parameter]
	public string BackGroundClass { get; set; }

	[Parameter]
	public PlaneDataStruct Data { get; set; }

    private bool CheckDisplay => SelectedData.Count > 0;

	// protected override void OnInitialized()
	// {
	// 	CheckDisplay = SelectedData.Count > 0;
	// }
}